- var pageTitle = page.title || config.title || ''

doctype html
html(lang=config.language)
  head
    title= pageTitle
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=0.5")
    
    link(rel='icon' type='image/svg+xml' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%235454ff%22></rect><path fill=%22%23fff%22 d=%22M42.10 49.20L42.10 49.20Q57.90 35.40 69.90 18.20L69.90 18.20L81.10 28.90Q62.50 52.50 42.10 64.90L42.10 64.90Q36.60 73.40 31.30 88.60L31.30 88.60L18.90 77.90Q23.10 67.40 24.95 64.05Q26.80 60.70 28.80 57.50L28.80 57.50Q26.50 37.50 32.50 11.40L32.50 11.40L45.90 23.70Q42.50 37 42.10 49.20Z%22></path></svg>')

    link(rel='stylesheet', href="/css/highlight/xcode.min.css")
    link(rel='stylesheet', href="/css/bootstrap/bootstrap-tooltips.css")

    if is_home() || page.type=='micro-blog'
      link(rel='stylesheet', href="/css/bootstrap/bootstrap.min.css")
      link(rel='stylesheet', href="/css/bootstrap/bootstrap-theme.min.css")
      link(rel='stylesheet', href="/css/home.css")
    else 
      link(rel='stylesheet', href="/css/post.css")
   
    if page.type == 'about'
      link(rel='stylesheet', href='/css/jquery.modal.min.css')

  body
    script.
      if (/mobile/i.test(navigator.userAgent) || /android/i.test(navigator.userAgent)) {
        document.body.classList.add('mobile')
      }
    if is_home() || page.type=='micro-blog'
      nav.navbar.navbar-default(style={opacity:".9"}, role="navigation")
        div.container-fluid
          div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-bs")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(
              href="/",
              title="我亦飘零久",
              data-toggle="tooltip",
              data-placement="right"
              )= config.subtitle
          div.navbar-collapse.collapse#navbar-bs(style={height:"1px"})
            ul.nav.navbar-nav.navbar-right
              each url, label in theme.menu
                li(class=(
                      (url == '/' && is_home()) || (url == '/micro-blog' && page.type=='micro-blog')
                      ? 'active' : ''
                    )
                  )
                  a(href=url, target=theme.header.blank ? "_blank" : "_self")= label
    
    if body
      div!= body
    else
      block content
  
  script(src="/js/highlight.min.js")
  script(src="/js/jquery.min.js")
  script(src="/js/main.js")
  script(src="/js/bootstrap/bootstrap.min.js")

  if page.type=='micro-blog'
    script(src='/js/micro-blog/main.js')
    script(src='/js/marked.min.js')

  if page.type == 'about'
      script(src='/js/jquery.modal.min.js')

  script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-160006603-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-160006603-1');
    