extends layout.pug

block content
  .inner
    h2= page.title
    != page.content
    div(class="align-right")
      span= date(page.date, 'YYYY-MM-DD HH:mm')
      span  创建
    div(class="align-right")
      span= date(page.updated, 'YYYY-MM-DD HH:mm')
      span  更新
    div(class="align-right")
      span(id="time-stat-page-curr") --
      span  / 
      span(id="time-stat-page-total") --
      span  / 
      span=min2read(page.content)
      span 分钟
    if theme.post.backHome
      if theme.post.backHome_hr
        hr
      p
        - var prefix = theme.post.backHome_prefix
        - var suffix = theme.post.backHome_suffix
        span!= prefix 
        a(href="/")= theme.post.backHome_content
        span!= suffix
