
block content
  .inner
    h2= page.title
    != page.content
    if theme.post.backHome
      if theme.post.backHome_hr
        hr
      p(class=theme.post.backhome_right ? "textAlignRight" : "")
        - var prefix = theme.post.backHome_prefix
        - var suffix = theme.post.backHome_suffix
        span!= prefix 
        a(href=config.root)= theme.post.backHome_content
        span!= suffix
